body {
  margin: 0;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  background-image: url(./flappybirdbg.png);
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
}

#canvas {
  display: block; /* Remove inline spacing */
  background-size: cover;
  border: 2px solid black;
  /* Canvas will be centered within the body */
}
