body{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

#canvas {
  display: block; /* Remove inline spacing */
  margin: 0 auto; /* Auto margins center it horizontally */
  background-image: url(./flappybirdbg.png);
  background-size: cover;
  border: 2px solid black;
}
